:root {
  --bg-color: rgba(229, 229, 234, 0.7);
  --fg-color: rgb(72, 72, 74);
  --indicator-inactive-color: rgb(209, 209, 214);
  --indicator-active-color: rgb(99, 99, 102);
}

#klar {
    background-color: transparent;
    padding: 10px;
}

#main-view {
    background-color: var(--bg-color);
    border-radius: 22px;
    padding: 20px 30px 20px;
}

.icon {
    color: var(--fg-color);
    padding: 30px;
    -gtk-icon-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#status-bar {
    background-color: var(--indicator-inactive-color);
    margin-bottom: 15px;
    padding: 1px;
    border-radius: 3px;
}

#status-segment {
    opacity: 1;
}

#status-segment:first-child {
  border-radius: 3px 0 0 3px;
}

#status-segment:last-child {
  border-radius: 0 3px 3px 0;
}

#status-segment.active {
    background-color: var(--indicator-active-color);
}

#status-segment.warning {
    background-color: red;
}
