:root {
  --bg-color: rgba(239, 239, 239, 0.9);
  --fg-color: rgb(145, 145, 145);
  --indicator-inactive-color: rgb(108, 108, 108);
  --indicator-active-color: rgb(239, 239, 239);
}

#klar {
    background-color: transparent;
    padding: 10px;
}

#main-view {
    background-color: var(--bg-color);
    border-radius: 22px;
    padding: 10px 20px 10px;
}

.icon {
    color: var(--fg-color);
    padding: 30px;
    -gtk-icon-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#status-bar {
    background-color: var(--indicator-inactive-color);
    margin-bottom: 15px;
    padding: 1px;
    border-radius: 3px;
}

#status-segment {
    opacity: 1;
}


#status-segment.active {
    background-color: var(--indicator-active-color);
}

#status-segment.warning {
}
